<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg-old.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title"> MY PROJECTS </h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature1">
    <div class="container">
      <!-- Row  -->
      <!-- <div class="row justify-content-center">
        <div class="col-md-7 text-center no-trans">
          <h2 class="title">My project library.</h2>
        </div>
      </div> -->
      <app-projects-relay-on></app-projects-relay-on>
    </div>
  </div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

