<div class="collapse navbar-collapse hover-dropdown font-124 ml-auto" id="h6-info">
  <ul class="navbar-nav ml-auto  align-items-center">


    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" routerLink="/home">
        Home
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" routerLink="/projects">
        Projects
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" routerLink="/about">
        About
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" routerLink="/contact">
        Contact
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" href="https://github.com/DevKevs" target="_blank">
        GitHub
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" href="https://www.linkedin.com/in/kevin-f%C3%A9liz-encarnaci%C3%B3n-a20888200/"
        target="_blank">
        LinkedIn
      </a>
    </li>
  </ul>
</div>
