<div class="collapse navbar-collapse hover-dropdown font-124 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">


        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                Home
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                Projects
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/">
              Contact
          </a>
      </li>
        <!-- <li class="nav-item">
            <a class="btn btn-danger-gradiant font-14" target="_blank" download="../../../../assets/images/logos/logo1-white.png">
                Resume
            </a>
        </li> -->
    </ul>

</div>
