<div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/banner-bg.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">DevKevs' Portfolio</h1>
        <h5 class="subtitle op-5">
          Welcome to my professional portfolio! Explore the exciting world of my development journey, where code meets creativity. Dive into the projects, passion, and precision that drive my work. Let's embark on a digital adventure together!
        </h5>

        <a
          href="./assets/docs/portfolio_resume.pdf"
          class="btn btn-md m-t-30 btn-success-gradiant font-14"
          target="_blank"
          >Download my resume</a
        >
        <!-- <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-30 m-l-10"
        data-toggle="collapse"
        routerLink="/projects"
      >
        <span
          >Projects
          <i class="ti-arrow-right"></i>
        </span>
      </a> -->
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container">
  <div class="row gx-5 mt-3" id="about-me">
    <div class="col px-2 my-image">
      <img src="../../../assets/images/users/me.jpeg" class="img-thumbnail" alt="me" style="width: 80%; border-radius: 15rem;">
    </div>
    <div class="col">
      <h1>Discover who is <span style="color: #338EF4;">DevKevs</span></h1>
      <p>Hey there! my name is Kevin Féliz</p>
      <p>I'm an enthusiastic Web and Mobile Developer, on a journey to create amazing experiences in MEAN Stack and Flutter development. With a touch of expertise in .NET Framework, .NET Core, and a wide range of cutting-edge technologies, I'm determined to craft digital wonders that take user interaction to new heights.</p>
      <p>🚀 Fueled by curiosity and a talent for solving problems, I focus on designing responsive applications that exceed your expectations. My commitment to staying updated with the latest tech trends means I'm always in tune with the ever-evolving world of technology.</p>
      <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="/projects"
      >
        <span
          >Browse my projects
          <i class="ti-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>

<div class="bg-light spacer feature1 mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">My top 3 hobbies</h2>
        <h6 class="subtitle">
          I enjoy gaming, exploring new worlds, and challenging myself. Watching anime is a favorite pastime, and music is my constant companion.
        </h6>
      </div>
    </div>
    <app-hobbies></app-hobbies>
  </div>
</div>

<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          Are you excited to transform your business idea into a success story?
        </h2>
        <h6 class="subtitle">
          Contact me and let's make your entrepreneurial dreams come true.
        </h6>
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          routerLink="/contact"
          ><span>Get in touch <i class="ti-arrow-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
