<div
  class="static-slider-head"
  style="background-image: url(assets/images/landingpage/banner-bg.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">DevKevs' Portfolio</h1>
        <h5 class="subtitle op-5">
          Welcome to my professional portfolio! Explore the exciting world of my development journey, where code meets creativity. Dive into the projects, passion, and precision that drive my work. Let's embark on a digital adventure together!
        </h5>
        <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="/about"
        >
          <span
            >About me
            <i class="ti-arrow-right"></i>
          </span>
        </a>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Take a look at my most recent projects</h2>
      </div>
    </div>
    <app-hobbies></app-hobbies>
  </div>
</div>

<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          Are you excited to transform your business idea into a success story?
        </h2>
        <h6 class="subtitle">
          Contact me and let's make your entrepreneurial dreams come true.
        </h6>
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          routerLink="/contact"
          ><span>Get in touch <i class="ti-arrow-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
