.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.icon-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espaciado entre los iconos */
  justify-content: center;
}

.icon{
  width: 5rem;
  height: auto;
  color: #338EF4 !important;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  #about-me{
   flex-direction: column;
   width: 100%;
  }
  #about-me p{
    text-align: justify;
  }
  #about-me .my-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .static-slider-head .title{
    font-size: 35px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 577px) and (max-width: 768px) {
  /* Reglas de estilo específicas para pantallas medianas */
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) and (max-width: 992px) {
  /* Reglas de estilo específicas para pantallas grandes */
}

/* Estilos para pantallas extra grandes */
@media (min-width: 993px) {
  /* Reglas de estilo específicas para pantallas extra grandes */
}

